@keyframes breathe {
  from {
    transform: scale(1) translateX(-1.5rem) skewX(20deg);
  }

  50% {
    transform: scale(1.25) translateX(-1.5rem) skewX(20deg);
  }

  to {
    transform: scale(1) translateX(-1.5rem) skewX(20deg);
  }
}
