$blue: rgb(49, 19, 149);
$backgroundBlue: rgb(4, 2, 12);
$backgroundBlueLight: rgb(29, 24, 49);
$blueishWhite: rgb(201, 193, 233);
$blueishWhiteLight: rgb(219, 215, 233);

$borderRadiusSmall: 5px;
$borderRadiusMedium: 10px;
