@import "../../app/styles/config";

.appFeatureList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 4rem;
}

.appFeatureItem {
  display: flex;
  flex-direction: column;
  border-radius: $borderRadiusMedium;
  border: 2px solid $blueishWhite;
  color: $blueishWhiteLight;
  overflow: hidden;
  min-width: 350px;

  &Title {
    font-size: 2rem;
    padding: 2rem 2.5rem 1.25rem;
    text-transform: uppercase;
  }

  &Desc {
    position: absolute;
    bottom: 0;
    padding: 1rem;

    &Span {
      position: relative;
      display: inline;
      padding: 0.3rem 1.2rem;
      font-size: 1.8rem;
      line-height: 3rem;
      box-decoration-break: clone;
      background-color: rgba($backgroundBlueLight, 1);
      border-radius: $borderRadiusSmall;
    }
  }

  &PictureWrapper {
    object-fit: contain;
    position: relative;
    height: 15vh;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
