@import "../../app/styles/config";
.appFeatureList {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
  margin-top: 2rem;
}

.appFeatureItem {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  border-radius: $borderRadiusMedium;
  border: 2px solid $blueishWhite;
  color: $blueishWhiteLight;
  width: 100%;

  &Title {
    font-size: 2rem;
    padding: 2.25rem 0 2.25rem 3.25rem;
  }

  &Desc {
    position: absolute;
    bottom: 0;
    padding: 1rem;

    &Span {
      position: relative;
      display: inline;
      padding: 0.2rem 1rem;
      font-size: 1.8rem;
      line-height: 3rem;
      background-color: rgba($blue, 0.85);
      box-decoration-break: clone;
      border-radius: $borderRadiusSmall;
    }
  }

  &PictureWrapper {
    object-fit: contain;
    position: relative;
    width: 100%;
    height: 15vh;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
